body {
  background-color: #111;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.title {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  padding: 34px;
}

.undefined-txt {
  color: #fafafa;
  font-weight: 500;
}

.bootcamp-txt {
  color: #555;
  display: block;
  font-weight: 400;
}

.bootcamp-txt:hover {
  color: #777;
}

@media (min-width: 500px) {
  .title {
    font-size: 5em;
  }
}

@media (min-width: 700px) {
  .bootcamp-txt {
    display: inline;
  }
}
