* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2327;
  font-family: 'Work Sans', sans-serif !important;
}

section.main {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(31, 35, 39, 0.96), rgba(31, 35, 39, 1)), url(assets/women-coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section.apply,
section.goal {
  height: 100vh;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
  margin-bottom: 30px;
}

h1.title {
  font-size: 2em;
}

@media (min-width: 666px) {
  h1.title {
    font-size: 3.17em;
  }
}

@media (min-width: 960px) {
  h1.title {
    font-size: 3.6em;
  }
}

.undefined-title {
  color: #fafafa;
  font-weight: 500;
}

.school-title {
  color: #6e7378;
  font-weight: 400;
}

.blink {
  color: #00c6b3;
  font-weight: 400;
  animation: blinker 0.95s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.undefined-title,
.school-title,
.title-caret {
  font-size: 1.579em;
}

h2,
h3 {
  font-family: 'Raleway', serif;
}

.center {
  display: block;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #6e7378;
}

.link:hover {
  color: #caccd2;
  transition: color 0.2s ease;
}

h2.subtitle {
  color: #eaeaea;
  font-weight: 700;
  font-size: 2.83em;
  text-align: left;
  padding: 32px 0;
}

h3.subtitle {
  color: #fafafa;
  font-weight: 600;
  font-size: 2.32em;
  text-align: center;
  padding: 32px 10px;
  margin-bottom: 60px;
}

@media (max-width: 1400px) {
  h2.description {
    font-size: 1.3em;
  }
}

h2.description {
  font-size: 1.36em;
  color: #eaeaea;
  margin-top: 35px;
  margin-bottom: 7px;
  opacity: 0.7;
}

.green-tag {
  color: #00c6b3;
  font-weight: 500;
}

.apply-button,
.study-guide-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 200px;
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.apply-button:hover,
.study-guide-button:hover {
  transition: all 0.3s ease;
}

.apply-button {
  color: #1f2327;
  background-color: #00c6b3;
  border: 1px solid #00c6b3;
  margin-right: 4px;
}

.apply-button:hover {
  background-color: #00e6cf;
}

.study-guide-button {
  color: #d6eadf;
  border: 1px solid #d6eadf;
}

.study-guide-button:hover {
  color: #1f2327;
  background-color: #d6eadf;
}

.study-group-info {
  font-size: 21px;
  color: #fafafa;
  border: 2px solid #253a4b;
  border-radius: 3px;
  margin: 32px 10px;
}

.column-header {
  margin-top: 8px;
}

.course-dates {
  font-size: 15px;
}

.unavailable {
  opacity: 0.6;
}

.sold-out {
  font-family: 'Montserrat', sans-serif;
  color: #54697c;
  display: block;
  width: 200px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(84, 105, 124, 0.1);
  border: 1px solid rgba(84, 105, 124, 0.3);
}

.footer-link {
  color: #6e7378;
}

.footer-link:hover {
  color: #fafafa;
  transition: color 0.2s ease;
}

.strikethrough {
  color: #c60013;
  font-weight: 400;
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.apply {
  margin-top: 32px;
  margin-bottom: 0;
}

@media (min-width: 895px) {
  .apply.apply-button,
  .apply.sold-out {
    display: block;
    float: right;
  }
}

.study-groups {
  margin-bottom: 100px;
}

.group-card {
  background-color: rgba(37, 58, 75, 0.3);
}

.group-card-career {
  color: #aca9bb;
  font-family: Raleway;
  font-size: 16.5px;
  font-weight: 400;
}

.footnotes {
  color: #fafafa;
  padding-top: 100px;
}

footer.section {
  margin-top: 40px;
  padding-bottom: 5px;
  color: #6e7378;
}

@media (min-width: 415px) {
  #fullstack-js-dev:before {
    height: 40%;
    display: block;
    content: '';
  }
}

.more-info {
  margin-bottom: 70px;
}

.syllabus-info {
  font-size: 21px;
}

header strong,
p strong {
  color: #fafafa;
}

.column-header strong {
  color: #363636;
}
