@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-white: #fafafa;
  --brand-black: #1f2327;
  --brand-cyan: #00c6b3;
  --brand-cyan-light: #00e6cf;
  --brand-light-green: #d6eadf;
  --brand-light-gray: #d1d1d1;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: none;
  }
}

.text-brand-white {
  color: var(--brand-white);
}

.text-brand-cyan {
  color: var(--brand-cyan);
}

.text-brand-light-gray {
  color: var(--brand-light-gray);
}

.text-brand-black {
  color: var(--brand-black);
}

.bg-brand-white {
  background-color: var(--brand-white);
}

.bg-brand-black {
  background-color: var(--brand-black);
}

.bg-brand-cyan {
  background-color: var(--brand-cyan);
}

.border-brand-white {
  border-color: var(--brand-white);
}

.hint {
  height: 4px;
  background-color: var(--brand-cyan);
}

.apply-button {
  border: 1px solid var(--brand-cyan);
  font-family: Montserrat, sans-serif;
  width: 200px;
  border-radius: 3px;
  padding: 10px;
}

.apply-button:hover {
  background-color: var(--brand-cyan-light);
  transition: all 0.3s ease;
}

@media (max-width: 1023px) {
  .nav-apply-link > li:hover {
    background-color: #00c6b240;
    transition: all 0.3s ease;
  }
}

.nav-apply-button:hover {
  color: var(--brand-cyan);
  border-color: var(--brand-cyan);
  transition: all 0.3s ease;
}

.learn-more-button {
  color: var(--brand-light-green);
  border: 1px solid var(--brand-light-green);
  font-family: Montserrat, sans-serif;
  width: 200px;
  border-radius: 3px;
  padding: 10px;
}

.learn-more-button:hover {
  color: var(--brand-black);
  background-color: var(--brand-light-green);
  transition: all 0.3s ease;
}

a:hover {
  transition: all 0.3s ease;
  color: var(--brand-cyan);
}

.menu > li:hover {
  transition: all 0.3s ease;
  color: var(--brand-white);
}

.w-xxs {
  width: 8rem;
}

.max-w-xxs {
  max-width: 6rem;
}

.max-w-48 {
  max-width: 12rem;
}

.shadow-black {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#hamburguer-button:focus {
  color: var(--brand-cyan);
}

.nav-link:hover {
  color: inherit;
  background-color: #00c6b240;
  transition: all 0.3s ease;
}

.nav-list a:hover {
  color: inherit;
}

#hamburguer-menu {
  max-height: 0;
}

#close-icon {
  display: none;
}
